<main class="p-5">
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>
  <hr />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3 title</div>

  <hr />

  <div class='text-muted text-end'>
    Додатковий<span class='display-6'>текст</span>
  </div>

  <hr />

  <a href='#' class='btn btn-primary'>
    Button primary
  </a>

  <br />
  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      <p class='text-dark'>My text</p>
      <p class='text-muted'>My text</p>
    </div>
  </div>

  <br />
  <br />
  <br />

  <button class='btn btn-primary btn-lg'>Додати</button>
  <button
    class='btn btn-outline-primary'
  >Редагувати</button>
  <button
    class='btn btn-outline-danger btn-sm'
  >Видалити</button>

  <br />
  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

</main>